.card-img {
    width: 20%;
    display: initial;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px !important;
    color: white !important;
}

.card-title2 {
    margin-top: 14px !important;
    color: #063148;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px !important;
}

.card-subtext {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(6, 49, 72, 0.5) !important;
}

.tr-head {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #063148;
}

.tb-head {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #063148;
}

.table-title {
    width: 178px;
    height: 19px;
    left: 328px;
    top: 574px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #063148;
}
