<section class="section">
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-md-8 mx-auto">
                <div id="content" class="site-content" role="main">

                    <article id="post-108" class="post-108 page type-page status-publish hentry">
                        <header class="entry-header">
                            <h1 class="entry-title"> TERMS OF USE </h1>
                        </header>

                        <div class="entry-content" style="margin-top: 10px;">
                            <ol class="upper">
                                <li>
                                    <strong style="text-decoration: underline; color: black;">Introductory
                                        Provisions</strong>
                                </li>
                            </ol>
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>
</section>