/* General styles */
@font-face {
  font-family: fontregular;
  src: url(../fonts/FontsFree-Net-SF-UI-Display-Regular-1.ttf);
}

@font-face {
  font-family: fontlight;
  src: url(../fonts/lightsfui.ttf);
}

@font-face {
  font-family: fontsemibold;
  src: url(../fonts/semibold.ttf);
}

@font-face {
  font-family: fontbold;
  src: url(../fonts/bold.ttf);
}

::-webkit-scrollbar {
  display: none !important;
}