<div>
    <div class="w-[100%] min-h-[100vh] block md:flex wb-bg">
        <div class="w-[60%]  hidden lg:flex">
            <div class="w-[98%] h-full mx-auto md:w-[85%] pt-[45px] lg:w-[70%]">

                <a class="flex items-center justify-center digipos_cont">
                    <img src='../../../../../../assets/images/digipos_logo.png' alt="digipos-logo"
                        class="digiposlogo" />
                </a>

                <div class=" w-full h-fit mt-[40px]">
                    <a class="flex items-center justify-center digipos_cont ">
                        <img class="lg:w-[89%]" src='../../../../../../assets/images/login_img.png' />
                    </a>
                </div>

                <div class="mt-[30px]">
                    <p class="text-[#64154A] font-['Montserrat'] font-[700] text-base text-center text-[24px]">
                        Easy Payment Collection <br>
                        with DigiPos
                    </p>
                </div>

                <div class="mt-[30px]">
                    <p class="text-[#222222] font-['Montserrat'] font-[400] text-[14px] text-base text-center">
                        With DigiPos, merchants can now accept <br>
                        cashless payments
                    </p>
                </div>
            </div>
        </div>

        <div class="w-[100%] md:w-[80%] mx-auto pl-[110px] grad input_wrap">
            <div class="w-[80%] lg:mt-[170px] md:mt-[80px] sm:mt-[0px]  input_cont">
                
            </div>
        </div>
    </div>
</div>