<!-- Filter -->
<div class="grid grid-cols-3 gap-4">
  <div class="col-start-1 col-end-4 mt-8">
    <form [formGroup]="dateRangeForm">
      <div class="md:flex my-3 hidden items-end flex-wrap ">
        <!-- <div class="mr-3 w-[33%]">
          <label for="" class="block text-sm text-gray-400 regularfont">Filter By</label>
          <ng-select [multiple]="true" [(ngModel)]="filter" [ngModelOptions]="{ standalone: true }"
            [items]="filterList">
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items | slice: 0:2">
                <span class="ng-value-label">{{ item }}</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
              </div>
              <div class="ng-value" *ngIf="items.length > 2">
                <span class="ng-value-label">{{ items.length - 2 }} more...</span>
              </div>
            </ng-template>
          </ng-select>
        </div> -->
        <div class="mr-3">
          <label for="from" class="block text-sm text-gray-400 regularfont">From</label>
          <input type="date" formControlName="start"
            class="lg:w-[150px] h-[39px] text-gray-400 py-[15px] text-xs border border-gray-300 rounded  focus:outline-0 focus:ring-0 brd">
        </div>
        <div class="mr-3"><label for="from" class="block text-sm text-gray-400 regularfont">To</label>
          <input type="date" formControlName="end"
            class="lg:w-[150px] h-[39px] text-gray-400 py-[15px] text-xs border border-gray-300 rounded focus:outline-0 focus:ring-0 brd">
        </div>
        <br>
        <div class="mr-3 mt-3 w-[20%]" *ngIf="filter.includes('Status')">
          <label for="" class="block text-sm text-gray-400 regularfont">Filter By Staus</label>
          <ng-select formControlName="trnResponseCode" [items]="responseList" bindLabel="name" bindValue="value">
          </ng-select>
        </div>
        <div class="mr-3 mt-3 " *ngIf="filter.includes('Amount')">
          <label for="amt" class="block text-sm text-gray-400 regularfont">Filter By Amount</label>
          <input formControlName="trnAmount" decimalOnly style="padding-left: 10px;"
            class="lg:w-[150px] h-[39px] text-gray-400 py-[15px] text-xs border border-gray-300 rounded focus:outline-0 focus:ring-0 brd">
        </div>
        <div class="mr-3 mt-3" *ngIf="filter.includes('Reference')">
          <label for="amt" class="block text-sm text-gray-400 regularfont">Filter By Reference</label>
          <input formControlName="trnReference" decimalOnly style="padding-left: 10px;"
            class="lg:w-[150px] h-[39px] text-gray-400 py-[15px] text-xs border border-gray-300 rounded focus:outline-0 focus:ring-0 brd">
        </div>
        <div class="mr-3 mt-3 w-[25%]" *ngIf="filter.includes('Payment Method')">
          <label for="" class="block text-sm text-gray-400 regularfont">Filter By Payment Method</label>
          <ng-select formControlName="trnService" [items]="method" bindLabel="name" bindValue="value">
          </ng-select>
        </div>
      </div>
    </form>
  </div>
  <div class="col-end-6 col-span-2 mt-10">
    <div>
      <button (click)="export()"
      class=" w-[150px] py-[15px] rounded flex p-2 text-white bg-download-report text-sm mx-4 text-center ">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_537_5281)">
          <path
            d="M1.33325 7.33317H14.6666V13.3332C14.6666 13.51 14.5963 13.6796 14.4713 13.8046C14.3463 13.9296 14.1767 13.9998 13.9999 13.9998H1.99992C1.82311 13.9998 1.65354 13.9296 1.52851 13.8046C1.40349 13.6796 1.33325 13.51 1.33325 13.3332V7.33317ZM11.3333 1.99984H13.9999C14.1767 1.99984 14.3463 2.07008 14.4713 2.1951C14.5963 2.32012 14.6666 2.48969 14.6666 2.6665V5.99984H1.33325V2.6665C1.33325 2.48969 1.40349 2.32012 1.52851 2.1951C1.65354 2.07008 1.82311 1.99984 1.99992 1.99984H4.66659V0.666504H5.99992V1.99984H9.99992V0.666504H11.3333V1.99984Z"
            fill="#F2F2F2" />
        </g>
        <defs>
          <clipPath id="clip0_537_5281">
            <rect width="16" height="16" fill="white" />
          </clipPath>
        </defs>
      </svg> <span class="flex-1">Export Table
        <span *ngIf="exportLoading"><i class="fa fa-spinner fa-spin"></i></span></span>
    </button>
    </div>
  </div>
</div>
<!-- Filter -->

<!-- TABLE -->
<div class="relative overflow-x-auto mt-10 mb-10">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-400 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">
          AMOUNT
        </th>
        <th scope="col" class="px-6 py-3">
          MERCHANT ID
        </th>
        <th scope="col" class="px-6 py-3">
          MERCHANT NAME
        </th>
        <th scope="col" class="px-6 py-3">
          Amount To Settle
        </th>
        <th scope="col" class="px-6 py-3">
          Fee
        </th>
        <th scope="col" class="px-6 py-3">
          Vat
        </th>
        <th scope="col" class="px-6 py-3">
          Date\Time
        </th>
        <th scope="col" class="px-6 py-3">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b  hover:bg-gray-100 " *ngFor="let item of settlementList">
        <td class="px-6 py-4">
          {{formatAmt(item?.settlementAmount)}}
        </td>
        <td class="px-6 py-4">
          {{item?.settlementOrganisationMid || 'N/A'}}
        </td>
        <td class="px-6 py-4">
          {{item?.settlementOrganisationName || 'N/A'}}
        </td>
        <td class="px-6 py-4">
          {{formatAmt(item?.settlementPayable)}}
        </td>
        <td class="px-6 py-4">
          {{formatAmt(item?.settlementMsc)}}
        </td>
        <td class="px-6 py-4">
          {{item?.settlementVat}}
        </td>
        <td class="px-6 py-4">
          {{item?.settlementCreatedAt}}
        </td>
        <td class="px-6 py-4">
          <div class="relative inline-block text-left">
            <div>
              <button type="button" (click)="viewSettlement(item.settlementId)"
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                View
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!isloading">
    <div class="text-center" *ngIf="!settlementList?.length">
      <div style="display: flex; align-items: center; justify-content: center;">
        <img src="../../../../../assets/svgs/EmptyInbox.svg" style="width:10%;" class="mt-5">
      </div>
      <br> No Data Found
    </div>
  </div>
</div>
<!-- TABLE -->