<div class="">
  <p class="text-[#64154A] cursor-pointer" (click)="goBack()">Back</p>
</div>

<!--  -->

<div class="float-right">
  <div class="flex items-center justify-center p-6rounded-b">
    <button (click)="toggleModal()"  *ngIf="(chargeback?.chargebackStatus|uppercase) === 'PENDING'"
      class="text-red-500 bg-transparent mr-1 mb-1 px-6 py-2 hover:bg-[#64154A] font-semibold hover:text-white border border-[#64154A] hover:border-transparent rounded">
      Decline
    </button>
    <button (click)="confirmStatus(chargeback,'Approve')" *ngIf="(chargeback?.chargebackStatus|uppercase) === 'PENDING'"
      class="bil-btn-gradient bg-[#64154A] text-base font-normal grad3 w-[120px] h-[45px] first-letter text-[#F0F0F0] rounded-[5px] mr-1 mb-1  px-6 py-2 "
      type="button">
      Accept
    </button>
  </div>
</div>
<br *ngIf="(chargeback?.chargebackStatus|uppercase) === 'PENDING'" />
<br *ngIf="(chargeback?.chargebackStatus|uppercase) === 'PENDING'" />

<div class="grid place-items-center mt-6">
  <div class="inline-grid grid-cols-1 gap-4">
    <div class="flex rounded">
      <div class="text-sm">
        Chagerback Detail(s)
      </div>
      <div class="flex ml-2 items-center h-5">
        <!-- success -->
        <svg *ngIf="(chargeback?.chargebackStatus | uppercase)=== 'APPROVED'" width="11" height="11" viewBox="0 0 11 11"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="5.5" cy="5.5" r="5.5" fill="#35B172" />
        </svg>
        <!-- pending -->
        <svg *ngIf="(chargeback?.chargebackStatus | uppercase) === 'PENDING'" width="11" height="11" viewBox="0 0 11 11"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="5.5" cy="5.5" r="5.5" fill="#FF8A00" />
        </svg>
        <!-- failed -->
        <svg *ngIf="(chargeback?.chargebackStatus | uppercase) === 'DECLINED'" width="11" height="11"
          viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="5.5" cy="5.5" r="5.5" fill="#FF0000" />
        </svg>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="h-[30rem] grid grid-cols-2 gap-4 content-evenly place-items-center">
  <div>
    Amount
  </div>
  <div>
    <b> {{formatAmt(chargeback?.chargebackAmount)}}</b>
  </div>
  <div>
    Payment Reference
  </div>
  <div>
    <b>{{chargeback?.chargebackTransactionReference}}</b>
  </div>
  <div>
    Transaction Type
  </div>
  <div>
    <b>{{chargeback?.chargebackTransactionType}}</b>
  </div>
  <div>
    Transaction Date
  </div>
  <div>
    <b>{{chargeback?.chargebackTransactionDate | date: 'medium'}}</b>
  </div>
  <div>
    Log Code
  </div>
  <div>
    <b>{{chargeback?.chargebackReference}}</b>
  </div>
  <div>
    Expiry Date
  </div>
  <div>
    <b>{{chargeback?.chargebackExpiryDate | date: 'medium'}}</b>
  </div>
  <div>
    Created At
  </div>
  <div>
    <b>{{chargeback?.chargebackCreatedAt | date: 'medium'}}</b>
  </div>

  <div>
    Updated At
  </div>
  <div>
    <b>{{chargeback?.chargebackUpdatedAt | date: 'medium'}}</b>
  </div>
</div>

<div class="h-[30rem] grid grid-cols-2 gap-4 content-evenly place-items-center">
  <div>
    Evidence
  </div>
  <div>
    <div *ngIf="chargeback?.chargebackEvidence" class="max-w-sm rounded overflow-hidden shadow-lg"
      style=" max-height: 298px; overflow: auto;">
      <a [href]="chargeback?.chargebackEvidence">
        <img class="w-full" title="Click me to view  full image" [src]="chargeback?.chargebackEvidence"
          alt="Click me to view  full image">
      </a>
    </div>
  </div>
</div>


<!-- create -->
<div *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-[500px] bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-center justify-center p-5 border-b border-solid border-slate-200 rounded-t text-center">
        <h3 class="text-3xl font-semibold text-[#64154A]">
          Reject Chargeback
        </h3>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <form [formGroup]="chargebackForm">

          <div class="border-dotted border-2 p-3 border-indigo-600 rounded">
            <label for="file">
              <span class="font-bold text-[#64154A] flex justify-start">
                Evidence Provided
              </span>
            </label>
            <input (change)="browseFile($event,'evidence')"
              class="upload block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
              id="file" type="file" accept="image/*" />
          </div>
          <div class="mt-1 text-sm text-[#677189]">
            JPG, PDF, JPEG, PNG are accepted. Max file size 5MB
          </div>

          <div class="flex flex-col input-wrap relative lg:mb-7 md:mb-7  sm:mb-6  mb-6 mt-7">
            <textarea  id="Reason" rows="10" cols="50" formControlName="chargebackReason" class="brd  w-full peer h-[150px] mt-2 bg-[rgba(0,0,0,0.05)] focus:outline-0 focus:ring-0 relative z-0 rounded-[5px] px-5 border-0 placeholder:text-[rgba(0,0,0,0.5)] invalid:border-rose-700 invalid:text-rose-700
                focus:invalid:border-rose-700 focus:invalid:ring-rose-700" placeholder="Reason" ></textarea>
            <label htmlFor="Reason"
              class="font-normal form-label ease-in-out duration-300  px-1  whitespace-nowrap text-[14px]">
              Reason for Decline
            </label>
          </div>

        </form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-center p-6 border-t border-solid border-slate-200 rounded-b">
        <button (click)="toggleModal()"
          class="text-red-500 bg-transparent mr-1 mb-1 px-6 py-2 hover:bg-[#64154A] font-semibold hover:text-white border border-[#64154A] hover:border-transparent rounded">
          Cancel
        </button>
        <button (click)="confirmStatus(chargeback,'Decline')" [disabled]="chargebackForm.invalid || loader.btn.create"
          class="bil-btn-gradient bg-[#64154A] text-base font-normal grad3 w-[150px] h-[45px] first-letter text-[#F0F0F0] rounded-[5px] mr-1 mb-1  px-6 py-2 "
          type="button">
          Reject <span *ngIf="loader.btn.create"><i class="fa fa-spinner fa-spin"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>