@import "~@ng-select/ng-select/themes/default.theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Phone Input Css */
@media (min-width: 1024px) {
    ngx-intl-tel-input input.custom {
        width: 149% !important;
    }

    .grad {
        background: linear-gradient(160.99deg, #043D69 0%, #5D0440 100%);
    }

    .white-bg {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }

    .box-shadow {
        box-shadow: 0px 4px 55px 1px rgb(171 171 171 / 25%);
    }

    .ng-otp-input-wrapper .otp-input:not(:last-child) {
        margin-right: 50px !important;
    }
}

/* OTP */
.otp-input {
    width: 50px !important;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #c5c5c5;
    text-align: center;
    font-size: 32px;
}

/* Aside */
.bg-coralpay {
    background-color: #64154A;
}

/* Dashboard */

.bg-wallet {
    background: rgba(100, 21, 74, 0.1);
}

.bg-wallet2 {
    background: rgba(202, 255, 235, 0.5);
}


.bg-download-report {
    background: rgba(73, 170, 57, 1);
}

.bg-download-report:disabled {
    background: gray !important;
}

/* core */
.digiposlogo {
    width: 70px;
  }
  .profile_wrap {
    background: linear-gradient(93.03deg, #043d69 0%, #5d0440 100%);
  }
  .profile_sdw {
    box-shadow: 0px 0px 23px rgba(171, 171, 171, 0.25);
  }
  .edit-input,
  .edit-input:focus {
    border: 1px solid transparent;
    border-radius: 5px;
    background: linear-gradient(to right, white, white),
      linear-gradient(to right, #043d69, #5d0440);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  .pos-nav {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  }
  .pos-payment {
    box-shadow: 0px 2px 4px rgba(171, 171, 171, 0.25);
  }
  .show-card {
    height: 500px;
    display: block;
  }
  .c-gate-input:focus {
    background: white;
  }
  .arrow-show {
    transform: rotate(90deg) !important;
  }
  
  .gender-input {
    display: none;
  }
  .gender-input + label {
    position: relative;
  }
  .gender-input + label::before {
    content: "";
    border: 1px solid #222;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -8px 9px;
    margin-left: 0;
    border-radius: 50%;
  }
  .gender-input + label::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    background: white;
    left: 4px;
    top: 3px;
    margin: -8px 20px;
    margin-left: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  .gender-input:checked + label::after {
    background: linear-gradient(180deg, #043d69 0%, #5d0440 100%);
  }
  .s_package{
    background: #fff;
    border: 1px solid transparent;
    background: linear-gradient(to right, white, white),
      linear-gradient(to right, #043d69, #5d0440);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  .crd-shadow{
    box-shadow: 0px 0px 5px rgba(171, 171, 171, 0.15);
  }
  .package-dropdown{
    user-select: text; /* supported by Chrome and Opera */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text;
  }

  /* home css */
  