@import "~@ng-select/ng-select/themes/default.theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Phone Input Css */
@media (min-width: 1024px) {
    ngx-intl-tel-input input.custom {
        width: 149% !important;
    }

    .grad {
        background: linear-gradient(160.99deg, #043D69 0%, #5D0440 100%);
    }

    .white-bg {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }

    .box-shadow {
        box-shadow: 0px 4px 55px 1px rgb(171 171 171 / 25%);
    }

    .ng-otp-input-wrapper .otp-input:not(:last-child) {
        margin-right: 50px !important;
    }
}

/* OTP */
.otp-input {
    width: 50px !important;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #c5c5c5;
    text-align: center;
    font-size: 32px;
}

/* Aside */
.bg-coralpay {
    background-color: #64154A;
}

/* Dashboard */

.bg-wallet {
    background: rgba(100, 21, 74, 0.1);
}

.bg-wallet2 {
    background: rgba(202, 255, 235, 0.5);
}


.bg-download-report {
    background: rgba(73, 170, 57, 1);
}